h1{
    text-align: center;
    margin: 50px;
    color: brown;
}

button{
    border-radius: 5px;
    color: darkblue;
    text-align: center;
    text-decoration-color: darkorange;
    text-align: center;
    font-size: larger;
    margin: auto;
 

}
